* {
  margin: 0;
  font-family: "Helvetica";
}
body {
  background: lightblue;
}
/*Styling Navbar*/
#bar ul {
  list-style-type: none;
}
.navbar {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#bar li {
  display: inline;
  padding: 40px;
}
.navbar:hover {
  color: aqua;
}
/*Landing Page */
li {
  font-style: italic;
}
.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about p {
  font-style: italic;
}
/*Footer*/
#contacts {
  background: gray;
}
.footer {
  list-style-type: none;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
