* {
  margin: 0;
  font-family: "Helvetica";
}
body {
  background: lightblue;
}
/*Styling Navbar*/
.intro {
  padding: 15px;
}
.proj {
  padding: 15px;
}
.plan {
  padding: 15px;
}
#bar ul {
  list-style-type: none;
}
.navbar {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#bar li {
  display: inline;
  padding: 40px;
}
.navbar:hover {
  color: aqua;
}
/*Landing Page */
li {
  font-style: italic;
}
img {
  border-radius: 75%;
  max-height: 300px;
  max-width: 300px;
  width: 400px;
  height: 400px;
}
.about p {
  font-style: italic;
}
.about {
  display: flex;
  align-items: center;
  padding: 15px;
}
/*Footer*/
#contacts {
  background: gray;
}
.footer {
  list-style-type: none;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
